{% extends "base.html" %}

{% block main_content %}

    <!-- {% if records %}
        <table>
            <caption><h3>Records</h3></caption>
            <tr>
                <th>Record ID</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Stock</th>
                <th>Format</th>
                <th>Price</th>
            </tr>
        {% for record in records %}
            <tr>
                <td>{{ record["record_id"] }}</td>
                <td>{{ record["artist"] }}</td>
                <td><a href="{{ url_for('record', record_id=record['record_id'] ) }}">{{ record["title"] }}</a></td>
                <td>{{ record["stock"] }}</td> 
                <td>{{ record["format"] }}</td>
                <td>{{ record["price"] }}</td>
            </tr> 
        {% endfor %}
        </table>
    {% endif %} -->

    {% if records %}
    <div class="recommend">
        {% for record in records %}
            <a href="{{ url_for('record', record_id=record['record_id'] ) }}"><div class="card">
                <img class="editors-choice" src="../static/editors-choice.png" alt="stock record logo" >
                <div class="container">
                    <h3><b> {{ record["artist"] }}</b></h3>
                    <p>{{ record["title"] }}</p>
                    <p>{{ record["price"]}}</p>
                    <p>Only {{ record["stock"] }} left</p>
                </div>
            </div></a>
        {% endfor %}
    </div>
    {% endif %}

    </br>

    {% if reviews %}
        <table>
            <caption><h3>Reviews</h3></caption>
            <tr>
                <th>Record ID</th>
                <th>User</th>
                <th>Title</th>
                <th>Review</th>
                <th>Stars</th>
            </tr>
        {% for record in reviews %}
            <tr>
                <td>{{ record["record_id"] }}</td>
                <td>{{ record["user_id"] }}</td>
                <td><a href="{{ url_for('record', record_id=record['record_id'] ) }}">{{ record["title"] }}</a></td>
                <td>{{ record["review"] }}</td>
                <td>{{ record["stars"] }}</td>

            </tr>
        {% endfor %}
        </table>
        
    {% else %}
        <p>No reviews for this artists records yet!</p>
    {% endif %}

    <p><a href="{{ url_for('stock') }}">All records</a></p>

{% endblock %}